* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

table#matrizTabela {
    width: 100%;
    table-layout: fixed;
}

table#matrizTabela thead tr th {
    text-align: center;
    width: calc(100% / 27);
    overflow: hidden;
}

table td.selecionado_valido {
    background-color: #198754;
}

table td.selecionado_invalido {
    background-color: #dc3545;
}

table td.selecionado_verificando {
    background-color: #35caf8d2;
}

ol li.token_valido {
    color: #198754;
}

ol li.token_invalido {
    color: #dc3545;
}

a.excluir {
    color: black;
    opacity: 0.3;
}

a.excluir:hover {
    color: #dc3545;
    cursor: pointer;
    opacity: 1;
}

.btn {
    border-radius: 0;
}

.btn-outline-success {
    --bs-btn-focus-shadow-rgb: none;
}

.page-link {
    color: #198754;
    cursor: pointer;
}

.pagination {
    --bs-pagination-active-bg: #198754;
    --bs-pagination-hover-color: #198754;
}