* {
    margin: 0;
    padding: 0;
}

table#matrizTabela {
    width: 100%;
    table-layout: fixed;
}

table#matrizTabela thead tr th {
    text-align: center;
    /* background-color: orange; */
    width: calc(100% / 27);   
    overflow: hidden;
}

table td:hover {
    background-color: #e0e0e0;
    /* cursor: pointer; */
}

table td.selecionado_invalido{
    background-color: #f76363; 
}

table td.selecionado_valido{
    background-color: #74f763; 
}